@import "../node_modules/bootstrap/scss/bootstrap";



.form-control{
	border: 1px solid black;
}



input:focus{
	border: 2px solid black;
}



label{
	margin: 1em;
}



.btn-center{
	justify-content: center;
}

.container{
	justify-content: center;
	width: 12px;
}